<div class="row">
	<div class="large-6  columns ">
	    <a class="left link_to_t" onclick="clear_div('cie')" data-target='tools'>Limpiar y cerrar X</a>
		<%= form_tag( '/cie10', :method => :get , :remote => true) do %>
		   <div class="row collapse">
		  <div class="small-10 columns">
		  <%= text_field_tag 'rescue_name',"", :onclick => 'if($(this).val()=="Ingrese la enfermedad..."){$(this).val("");};', placeholder:  'Ingrese la enfermedad...'%>
		  </div>
		  <div class="small-2 columns">
		  <%= submit_tag 'Buscar', :class => ' button postfix' %>
         </div>
         </div>
		<%end%>
	     <div class="row columns cie pol300" id='cie_10' style="text-align:justify;">
	     	<p>La CIE-10 es el acrónimo de la Clasificación internacional de enfermedades, décima versión.</p></br>
            <p>La importancia de su uso es para un mejor guardado y diagnóstico clínico, este protocolo es avaldo por la Organización Mundial de la Salud (OMG).</p>
	     </div>
	</div>

	<%= link_to "Base de datos Medicamentos UNAM", "http://www.facmed.unam.mx/bmnd/dirijo.php?bib_vv=6", target: "_blank"%>
	<div class="panel large-5 left">
	 En caso de requerir el uso de una base de datos de medicamentos te recomendamos la de la UNAM
	</div>
</div>
