<h3>Formulario de Diagnóstico en consulta</h3>

<div id="tools" style="display:none;">
<%= render partial: '/diagnostics/cie10_search'%>
</div>
<%= form_tag('/diagnostics/create_from_user',  :id => 'create_diagnostic') do -%>
<%= render partial: '/diagnostics/steps_for_create/final_render_step', locals: { user: user, owner: owner}%>
<% end %>
<!--
<div class="link_to_t corner-button tool_button" data-target='tools'>
  <%#= image_tag('tools_d.png', width: 60, height: 60)%>
</div>
-->

