 <div class="large-5 columns">
   <table>
    <thead>
    <tr>
      <th width="100">Identifier</th>
      <th width="150">Name</th>
      <th width="100">Agregar</th>

    </tr>
   </thead>
<% results.each do |result|%> 
   <tbody>
    <tr>
     <td><%= result[0]%></td>
     <td><%= result[1]%></td>
     <td><a class="ice10_add" onclick="add_to_diagnostic('<%= result[0]%>', '<%= result[1]%>' )">Agregar</a></td>
    </tr>
   </tbody>   

<% end %>
</table>
</div>

