<% dt.notes.reverse.each do |note|%>
 <hr> 
  <div class="panel row left">
   <p><b>Nota agregada el día: </b> <%= note.created_at.strftime('%d'+'/'+'%m'+'/'+'%Y'+' a las '+'%H'+':'+'%M') %></p>
   <p><b>Nota:</b> <%= simple_format(note.content) %></p>
   <p><b>Nuevo  Tratamiento:</b> <%= simple_format(note.new_treatment) %></p>
   <p><b>Médico:</b> <%= link_to "#{note.user.name}", user_path(note.user.id)%></p>
  </div>
<%end%>