<tr>
  <td>
     <div class="slide-p" >
    <%= link_to visualizer_path(vs.id, :type => 'signs'), remote: true do %>
       Signos del <%= vs.created_at.strftime('%d'+'/'+'%m'+'/'+'%Y'+' a las '+'%H'+':'+'%M') %>
    <%end%>
    </div>
  </td>
  <!--<td>
   	<%= vs.owner %>
  </td>-->
</tr>
