<!DOCTYPE html>
<html>
	<head>
		<title>Mail Idoctore</title>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		</head>
		<body>
			<div style="background:#eee; width:95%; height:100px; padding:10px; border:solid #eee 1px;">
				<h1 style="margin-top:-45px; font-size:25px;">
				<a href="http://www.idoctore.com"  class="cursive" ><h2 style="color:#A4A4A4; float:left;" class="cursive"> I </h2><h2 class="cursive" style="color:#086A87; float:left;">Doctore</h2></a>
				</h1>
			</div>
			<div style=" width:95%; height:380px; padding:10px; border:solid #eee 1px;">
			<center>
				<h1 style="color:#086A87; font-size:17px;" >Hola se han puesto en contacto contigo <%= @email%> - <%=@name%> </h1>
				<h6 style="color:#313131; font-size:15px;" > <%= @description %></h6>
			</center>
			</div>
		</body>
	</html>