<h1>Hola  <%= @user.name %> el Doctor <%=@invite_from.name%> te ha invitado a Doctor Mind</h1>
<center>Porfavor confirma tu correo electrónico para poder iniciar sessión.</center>
<center><%=" http://www.idoctore.com/reset_password/"+"#{@url}"%></center>