<h1>Hola  <%= @user.name %> puedes retablecer tu contraseña. </h1>
<center>Porfavor confirma tu correo electrónico para poder iniciar sessión.</center>
<center><%=" http://localhost:3000/reset_password/"+"#{@url}"%></center>