<h1>Bienvenido <%= @user.name %> a Doctor Mind</h1>
<center>Porfavor confirma tu correo electrónico para poder iniciar sessión.</center>
<center><%=" http://www.idoctore.com/confirmed_token/"+"#{@url}"%></center>
