<div class="raw_index">
	<div class="skull_skin">
		<div class="row">
			<h2><div class="large-7" style="color:#238EA6; margin-top:55px;">Idoctore la mejor forma de manejar expedientes médicos.</div></h1>
			<div class="large-9 panel callout radius" >
				El futuro del manejo de datos médicos  y citas médicas esta en tus manos y en la de tus pacientes, mantente 100% cerca de ellos, ten sus datos a mano, lleva un expediente completo de todas sus consultas clínicas.
			</div>
		</div>
	</div>
</div>
<div class="in_box">
	<center>
	<%= link_to what_work_path do %>
	<div class="left box_act" style="background:#096D84;">
		Mira lo que te ofrecemos
		<%= image_tag('offer.png')%>
	</div>
	<%end%>
	<%= link_to about_us_path do %>
	<div class="left box_act" style="background:#098473;">
		Mira nuestra ideología
		<%= image_tag('weare.png')%>
	</div>
	<%end%>
	</center>
</div>