<div class="menu-select">
	<p style="font-size:30px; margin-top:20px;"><b style="font-size:60px;"> 1º </b> Registro del usuario </p>
</div>
<div class="row">
  <div class="large-5 left">
  
  <p style="width:70%;"> Tu primer paso será crear el usuario "recueda llenar todos los campors para poder continuar"</p>
  </div>
  <div class="large-7 left">
    <%= form_tag('/users/register') do -%>
    <%= render partial: '/admin/methods_payment_for_seller/user_info'%>
    <%end%>
  </div>
</div>