<div class="container-not-login">
  <h2>Registro de usuario</h2>
  <% if session[:steap] == nil %>
  <div class="steaps">
    <div id="1" class="steap steap-select">1</div>
    <div id="2" class="steap">2</div>
    <div id="3" class="steap">3</div>
    <div id="4" class="steap">4</div>
  </div>
  <div id="message" class="steaps-container">
    <b>Ingresa tus datos de usuairo.</b>
  </div>
  <div id="action" class="steaps-action">
    <%= render partial: '/register_user/shared/form' %>
  </div>
  <%end%>
  <% if session[:steap] == 2 %>
  <div class="steaps">
    <div id="1" class="steap">1</div>
    <div id="2" class="steap steap-select">2</div>
    <div id="3" class="steap">3</div>
    <div id="4" class="steap">4</div>
  </div>
  <div id="message" class="steaps-container">
    <b>Elige el tipo de pago.</b>
  </div>
  <div id="action" class="steaps-action">
    <%= render partial: '/register_user/shared/select_payment_type' %>
  </div>
  <%end%>
  <% if session[:steap] == 3 %>
  <div class="steaps">
    <div id="1" class="steap">1</div>
    <div id="2" class="steap">2</div>
    <div id="3" class="steap steap-select">3</div>
    <div id="4" class="steap">4</div>
  </div>
  <div id="message" class="steaps-container">
    <b>Ingresa tus datos.</b>
  </div>
  <div id="action" class="steaps-action">
    <%= render partial: '/users/payments/payment_method' %>
  </div>
  <%end%>
  <% if session[:steap] == 4 %>
  <div class="steaps">
    <div id="1" class="steap">1</div>
    <div id="2" class="steap">2</div>
    <div id="3" class="steap">3</div>
    <div id="4" class="steap steap-select">4</div>
  </div>
  <div id="message" class="steaps-container">
    <b>Ingresa tus datos.</b>
  </div>
  <div id="action" class="steaps-action">
    <center>
    <h3>Gracias por usar IDoctore</h3>
    <p>Le recordamos revisar su email para la confirmación de su estatus.</p>
    <i class="fa fa-smile-o"></i>
    </center>
  </div>
  <%end%>
</div>