  <script type="text/javascript" src="/arefscriptstochat/messages.js"></script>

<h1>Manejador de citas</h1>
 <%= render partial: '/users/calendar_for_user',  locals: {user: @user, tasks: @tasks,  date: @date, inprofile: false}%>