<% case current_user.role %>
   <% when 'doctor' %>
   <div class="menu-select">
	<a class="right button secondary" id="patient_create" data-target="newpatient" >Nuevo paciente</a>
	 <p style="font-size:30px;">Lista de pacientes</p>
	</div>
	<div >
	<div id="newpatient" class="row invite_container" style="display:none;">
   	 <%= render partial: '/users/invite_patient', locals: {email: nil, name: nil, sex: nil} %>
    </div>
    </div>

	<div class="row white-back">
	  <%= render partial: '/users/call_users', locals: { users: current_user.patients } %>
	</div>
	<% when 'patient'%>
	<h2>Lista de doctores</h2>
	<div class=" row white-back">
	  <%= render partial: '/users/call_users', locals: { users: current_user.doctors } %>
	</div>
<%end%>
<script type="text/javascript">
$('#patient_create').click(function(){
	var datax = $('#patient_create').data()
    $('#'+datax.target).toggle();
});
</script>
