<div class="row">
	<div class="large-7 columns">
		<h1>Registro</h1>
		<%= image_tag('banner5.png') %>
		<hr>
		<h4 style="text-align:justify;"> Recuerda revisar tu email para confirmar tu cuenta después de registrarte. </br>
		 En cuanto confirmes tu cuenta con el email e ingreses se te enviará un formulario de pago para que puedas dar de alta definitiva tu cuenta.</h4>
	</div>
	<div class="large-5 columns">
		<fieldset>
			<legend>Registro de uusario.</legend>
			<%= render partial: '/users/form_register' %>
		</fieldset>
	</div>
</div>