<div class="row">
    <%=  decripted_code(1234556789222)%>
    <%=  undecript_code("mnopqqrstunnn")%>

	<div class="large-7 columns">
	<h1>Registro</h1>
	<%= image_tag('banner5.png') %>
	<hr>
	<p> Recuerda confirmar tu cuenta despues de registrarte.</p>
	</div>
	<div class="large-5 columns">
	  <fieldset>
	    <legend>Registro de uusario.</legend>
			<%= render partial: '/users/form_register' %>
	  </fieldset>
	</div>

</div>
