<div class="row">
	<div class="large-7 columns">
	<h1>Registro</h1>
	<%= image_tag('banner5.png') %>
	<hr>
	<h4> Recuerda confirmar tu cuenta despues de registrarte, en cuanto confirmes e ingreses se te envirá un formulario de pago para que puedas dar de alta tu cuenta.</h4>
	</div>
	<div class="large-5 columns">
	  <fieldset>
	    <legend>Registro de uusario.</legend>
			<%= render partial: '/users/form_register' %>
	  </fieldset>
	</div>
</div>
