<a class="right"data-reveal-id="myPatients" >Nuevo paciente</a>
<h3>Pacientes</h3>
<div id="myPatients" class="reveal-modal" data-reveal>
	<%= render partial: '/users/invite_patient', locals: {email: nil, name: nil, sex: nil} %>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div class=" row white-back">
	<%= render partial: '/users/call_users', locals: { users: current_user.patients } %>
</div>