<script type="text/javascript" src="/arefscriptstochat/messages.js"></script>
<div class="act_head_lef_assistent">
      Administrador de Citas - <%=  @user.name %>
</div>

<div class="row" style="height:14px;">
  <%= render partial: '/layout_parts/notices', locals: {user: @user, notices: @notices, revet: true}%>
</div>
<div class="purple-content">
<%= render partial: '/users/calendar_for_user',  locals: {user: @user, tasks: @tasks,  date: @date, inprofile: false}%>
</div>
