<tr>
  <td>  
    <%= menssage %>
    <div style="display:none;">
    <%= text_field_tag "clinical_history[phisical_explorations_attributes][#{random_number}][body_part]", "#{menssage}", placeholder: 'Parte del cuerpo', id:"clinical_history_phisical_explorations_attributes_#{random_number}_body_part" %>
    </div>
  </td>
  <td>
    <%= text_area_tag "clinical_history[phisical_explorations_attributes][#{random_number}][notes]", '' ,placeholder: 'Anotación', id: "clinical_history_phisical_explorations_attributes_#{random_number}_notes" %>
  </td>
  <td>
    Default
  </td>
</tr>
 