<fieldset>
<h4>Registro dental</h4>
  <% @random = rand(10...422424242) + rand(10...424242)  %>
  <div style="display: none;">
  <%= number_field_tag "clinical_history[dental_records_attributes][#{@random}][user_id]", @user.id  %>
  <%= number_field_tag "clinical_history[dental_records_attributes][#{@random}][doctor_id]", current_user.id  %>
  </div>
  <%= render partial: "/clinical_histories/parts_form/teeths/new", locals: {dental_record: f, random: @random} %>

  <br/><br/><br/><br/>
  <%= text_area_tag "clinical_history[dental_records_attributes][#{@random}][note]","", rows: 10, placeholder: "Agregar una nota al registro dental" %>
</fieldset>
<script type="text/javascript">
$(document).ready(function(){
    $('.single-tooth').click(function(){
      var target = $(this).data('target');
      $('.tooth-options').hide();
      $('#'+target).toggle('fast');
    });
     $('.closer-t').click(function(){
      var target = $(this).data('target');
      $('#'+target).toggle('fast');
    });

    $('.top-part').click(function(){
        if( $(this).attr('style') == null) {
          $(this).css("border-top", "50px solid #FACC2E");

        }else{
          $(this).attr('style', null);
        }
    });

    $('.left-part').click(function(){
        if( $(this).attr('style') == null) {
          $(this).css("border-left", "50px solid #FACC2E");

        }else{
          $(this).attr('style', null);
        }
    });

    $('.right-part').click(function(){
        if( $(this).attr('style') == null) {
          $(this).css("border-right", "50px solid #FACC2E");

        }else{
          $(this).attr('style', null);
        }
    });

    $('.bottom-part').click(function(){
        if( $(this).attr('style') == null) {
          $(this).css("border-bottom", "50px solid #FACC2E");

        }else{
          $(this).attr('style', null);
        }
    });

    $('.center-part').click(function(){
        if( $(this).attr('style') == null) {
          $(this).css("background", "#FACC2E");

        }else{
          $(this).attr('style', null);
        }
    });

});
</script>