<div class="large-12 nested-fields">
	<div class="small-6  large-9 columns">
		<%= f.text_field :name, placeholder: 'Nombre del padecimiento' %>
	</div>
	<div class="small-2 large-2  columns">
		<%=  link_to_remove_association("Eliminar", f, :class => 'left button alert tiny',  data: {confirm: '¿Estas seguro de eliminarlo?'}) %>
	</div>
</div>

