<div class="large-12 nested-fields">
  <div class="small-6  large-9 columns">
    <%= f.text_field :name, placeholder: 'Nombre del padecimiento' %>
    <%= f.text_area :note, placeholder: 'Anotación' %>
    <%=  link_to_remove_association("Eliminar", f, :class => 'left button alert tiny',  data: {confirm: '¿Estas seguro de eliminarlo?'}) %>
  </div>
</div>
