<h1>Historia clínica</h1>
<div class="panel">
<p>Hola esta es la primera historia clínica que agregas a <b><%= @user.name %></b> es necesario que porfavor, reyenes los campos que se te piden. </p>
</div>
<%= render partial: 'form' %>
