<ul>
        <li><a href="#step-1">
              <label class="stepNumber">1</label>
              <span class="stepDesc">
                 Paso 1<br />
                 <small><%= truncate(t('diagnostics.interrogation'), :length => 17)%></small>
              </span>
          </a></li>
        <li><a href="#step-2">
              <label class="stepNumber">2</label>
              <span class="stepDesc">
                 Paso 2<br />
                 <small><%=  truncate(t('diagnostics.diagnostic_or_clinical_problem'), :length => 17) %></small>
              </span>
          </a></li>
        <li><a href="#step-3">
              <label class="stepNumber">3</label>
              <span class="stepDesc">
                 Paso 4<br />
                 <small><%=truncate(t('diagnostics.suggested_treatments'), :length => 17) %></small>
              </span>                   
           </a></li>
        <li><a href="#step-4">
              <label class="stepNumber">4</label>
              <span class="stepDesc">
                 Paso 4<br />
                 <small>Otras</small>
              </span>                   
          </a></li>
</ul>