 <div class="field">
         <b><%= label_tag t('diagnostics.diagnostic_or_clinical_problem') %></b><br>
        <%= text_area_tag 'diagnostic_or_clinical_problem', nil, rows: 10, cols: 25  %>
 </div>