<div class="foop">
<%= link_to t('¡ Adquirirlo !'), contact_path, :class => 'alert-box alert round right', style: 'bottom:0px; position:fixed; right:10px; font-size:40px;', id: 'button_prices' %>
 <div style="padding:35px;">Todos los derechos reservados 2014 © IDoctore</div> 
</div>
<div id="loggin_modal" class="large-4 reveal-modal" data-reveal>
	    <%= render partial: '/users/loggin'%>
	    <a class="close-reveal-modal">&#215;</a>
</div>
