<div class="foop">
<%= link_to t('¡Deseo adquirirlo ya!'), new_user_path, :class => 'button alert right', style: 'bottom:0px; position:fixed; right:10px;' %>
 <div style="padding:35px;">Todos los derechos reservados 2014 © IDoctore</div> 
</div>
<div id="loggin_modal" class="large-4 reveal-modal" data-reveal>
	    <%= render partial: '/users/loggin'%>
	    <a class="close-reveal-modal">&#215;</a>
</div>
