 <dl class="tabs black-bg" data-tab>
        <dd><a href="#panel2-5">Signos Vitales</a></dd>
        <dd class="active"><a href="#panel2-1">Diagnostico</a></dd>
        <dd><a href="#panel2-3">Agregar Análisis Clínico</a></dd>
        <dd><a href="#panel2-6">Notas</a></dd>
 </dl>