<% if agent %>
<div style="float:right; left:10px; position: fixed; z-index: 1; bottom:0; margin-bottom: 110px;" id="clicker_menu">
  <div style="width:100%; margin-bottom:5px;">
  <%= image_tag('menucreatemobile.png', width: 60)%>
  </div>
  
  <div style="display:none; width:100%;" id="to_clicker_menu">
    <%= render partial: '/layout_parts/call_post_menu_links', locals: {user: user, ifcurrentuser: ifcurrentuser}%>
  </div>
</div>
<script type="text/javascript">
  $('#clicker_menu').click(function(){
    $('#to_clicker_menu').slideToggle();
  });
</script>
<%else%>
<%= render partial: '/layout_parts/call_post_menu_links', locals: {user: user, ifcurrentuser: ifcurrentuser}%>
<%end%>
